@use '@material/theme/color-palette';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: $font-family;
  font-size: $base-font-size;
  scroll-behavior: smooth;
  height: 100%;
}