@use 'sass:color';

@use '@material/theme/color-palette';

$primary-color: #0074e6;
$secondary-color: #ffdc00;
$surface: #fff;
$background: #fff;
$error: color-palette.$red-900;

$dark-primary-color: #ff3e00;
$dark-secondary-color: color.scale(#676778, $whiteness: -10%);
$dark-surface: color.adjust(color-palette.$grey-900, $blue: +4);
$dark-background: #000;
$dark-error: color-palette.$red-700;

$font-family: 'Nunito', sans-serif;
$base-font-size: 16px;